# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
history/
config/
__pycache__/
config.json
*.csv
aifinance_custom.bat

# Expo
.expo/
dist/
web-build/
